OWNER_NAME="Bryan Tech"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="non"
BOT_NAME= "NARUTO-MD"
IMAGE_MENU= "https://telegra.ph/file/f75ccded97083121b21d9.mp4"
NUMERO_OWNER= ""
OWNER_NAME= "᚛Bryan Tech᚜"
DATABASE_URL= ""
WARN_COUNT= "3"
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='no'
